@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P',sans-serif;
  background-color: #647cda;
  color: #fff;
  overflow: hidden;
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.screen.up {
  margin-top: -100vh;
}

.btn {
  border: none;
  background-color: #fff;
  color: #647cda;
  padding: 15px 20px; 
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  color: rgb(0, 255, 0);
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.insect-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insect-list li {
  margin: 10px;
}

.choose-insect-btn {
  width: 150px;
  height: 150px;
  color: #fff;
  background-color: transparent;
  font-family: inherit;
  border: 2px solid #fff;
  cursor: pointer;
}

.choose-insect-btn:hover {
  background-color: #fff;
  color: #647cda;
} 

.choose-insect-btn:active {
  transform: scale(0.98);
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}